.card > img.card-img-top {
    width:100%;
}

.card-title {
    text-transform:capitalize;
}

.card-text > span {
    padding: 2px 6px;
    font-size:initial;
    text-transform:uppercase;
    border:1px solid #666666;
    border-radius:4px;
}

.card-text > form > button {
    margin:auto;
    padding:6px 14px;
    font-size:initial;
    text-transform:uppercase;
    border-radius:4px;
}

.grass{
    background-color: #008800;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}

.poison{
   background-color: #009999;
   color: white;
   border: 3px solid black;
   border-radius: 10%;
   font-size: 25px;
   margin: 2px;
   padding: 3px;
}
.water{
    background-color: #4444CC;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.bug{
    background-color: greenyellow;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.fire{
    background-color: #BB2222;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.normal{
    background-color: bisque;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.flying{
    background-color: skyblue;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.ground{
    background-color: burlywood;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.fairy{
    background-color: rgb(231, 129, 226);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.fighting{
    background-color: rgb(145, 31, 31);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.rock{
    background-color: rgb(217, 148, 58);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.psychic{
    background-color: rgb(172, 17, 131);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.electric{
    background-color: yellow;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.steel{
    background-color: slategrey;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.ice{
    background-color:aqua;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.ghost{
    background-color: purple;
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.dragon{
    background-color: rgb(56, 56, 137);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px;
}
.dark{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 3px solid black;
    border-radius: 10%;
    font-size: 25px;
    margin: 2px;
    padding: 3px; 
}
